<h2>Add New User</h2>
<form method="POST" action="/employee/create">
  <p>Name: <input type="text" name="name" required></p>
  <p>Email: <input type="email" name="email" required></p>
  <p><button type="submit">Save</button></p>
</form>
<a href="/employee">Back to List</a>
