<form method="GET" action="/employee">
    <span>
      <input type="text" name="search" placeholder="Search by name">
      <button type="submit" id="searchBtn">Search</button>
    </span>
</form>
 
